<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-if="tiene" >
                <p>No tiene las carateristicas seleccionadas</p>
        </div>
        <div v-else>
            <h1>{{message}}</h1>
            <h1 v-text="message"></h1>
            <h1>Nombre: {{nombre}}</h1>
            <h1>Año: {{año}}</h1>
            <img v-bind:src="imagen" v-bind:alt="nombre">
        </div>
        <div>
            <ul>
                <li v-for="elemento in caracte">{{elemento}}
                </li>
            </ul>
            <h3>Articulo</h3>
            <p>Nombre:{{articulo.nombre}}</p>
            <p>Precio:{{articulo.precio}}</p>
            <h3>Registro</h3>
            <label for="nombre">Nombre:</label>
            <input v-model="nombre" type="text" name="nombre" >
            <label for="precio">Nombre:</label>
            <input v-model="precio" type="number" name="nombre" >

        </div>
        <label for="Tiene">Nombre:</label>
        <input v-model="tiene" type="checkbox" >
    
    </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>